.btn {
    font-weight: lighter;
    background-color: $grey-4;
    color: $white;

    &.btn-round {
        border-radius: 100px;
    }
    &.btn-border {
        background: transparent;
        border: 1px solid $grey-4;
        color: $grey-4;
    }
}
