.btn {
    font-weight: lighter;
    background-color: $bluegrey-900;
    color: $white;
    cursor: pointer;

    &.btn-round {
        border-radius: 100px;
    }
    &.btn-border {
        background: transparent;
        border: 1px solid $bluegrey-900;
        color: $grey-800;
    }

    &.btn-primary {
        background-color: $blue;
        border-color: $blue;
    }
}
