.card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card.card--center-form {
    @include floatToCenter;
    h1 {
        text-align: center;
        font-size: 30px;
        font-weight: lighter;
        margin-bottom: 40px;
    }
    .btn {
        width: 100%;
    }
}
