.file-upload--dropzone {
    $size: 500px !default;
    position: relative;
    width: 100%;
    height: $size / 2;

    input[type="file"] {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .custom-file-control {
        position: absolute;
        width: 100%;
        height: 100%;
        border: {
            width: 2px;
            radius: 5px;
            color: $grey-800;
            style: dashed;
        }

        &::before {
            content: 'Click or Drag and Drop';
            background-color: transparent;
            border: none;
            right: auto;
            width: auto;
            height: auto;
            padding: 0;
            font-weight: bolder;
            @include floatToCenter;
        }

        &::after {
            display: none;
        }
    }

    .drop-here::before {
        content: 'Drop file here!' !important;
    }
}
