// GLOBAL LOADING with BODY MOVIN

.global-loading-indicator {
    #loading-element {
        width: 50px;
        height: 50px;
    }
}

.infinite-scroll-loading-indicator {
    text-align: center;
    padding: 50px 0;
    i {
        color: $bluegrey-600;
        font-size: 35px;
    }
}
