/*
    SCSS 초기화
*/

* {
    font-family: 'helvetica', sans-serif ;
    -webkit-font-smoothing: antialiased;
    outline: none;
    color: $grey-4;
    font-weight: lighter;
    &:focus {
        outline: none;
    }
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

img {
    width: 100%;
}

// Dev
#webpack-hot-middleware-clientOverlay {
    * {
        color: $white;
        font-family: Menlo, Consolas, monospace;
    }
}
