.container-fluid {
    .swiper-overlay-text {
        div {
            margin-bottom: 20px;
        }
    }
}

.container {
    .filters-wrapper{
        padding:10px 0 30px;
        ul{
            overflow:hidden;
            li{
                float:left;
                button{
                    position:relative;
                    padding:10px 20px;
                    font-size:16px;
                    line-height:18px;
                    border:0;
                    outline:0;
                    background:none;
                    cursor: pointer;
                    &.active{
                        color:#383838;
                        font-weight:bold;
                        &:after{
                            content:'';
                            position:absolute;
                            left:0;
                            bottom:0;
                            width:100%;
                            height:2px;
                            background-color:#383838;
                        }
                    }
                }
            }
        }
    }
    .cards-wrapper {
        margin-top: 30px;
        li {
            padding: 8px;
        }
    }
}
