.container-fluid {
    .swiper-overlay-text {
        div {
            margin-bottom: 20px;
        }
    }
}

.container {
    .cards-wrapper {
        margin-top: 30px;
        li {
            padding: 8px;
        }
    }
}
