@import 'src/styles/utils/__module__';

section[data-section="profile-img"] {
    .setting--profile-img {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    // Actual file element
    .file-upload--profile {
        display: none;
    }
}
