@import 'src/styles/utils/__module__';

$section-margin: 20px;

.container {
    margin-top: $global-header-height;
}

section.row {
    max-width: 600px;
    margin: $section-margin auto;
    h1 {
        width: 100%;
        text-align: center;
        font-weight: lighter;
        @include mq('sm') {
            font-size: 20px;
        }
    }
}

section[data-section="profile-img"] {
    .setting--profile-img {
        $profile-img-size: 200px;

        position: relative;
        width: $profile-img-size;
        height: $profile-img-size;
        margin: $section-margin auto;

        @include mq('sm') {
            width: $profile-img-size / 2;
            height: $profile-img-size / 2;
        }

        img {
            overflow: hidden;
            border-radius: 50%;
        }

        .setting--change-btn {
            position: absolute;
            bottom: 0;
            right: 0;
            width: $profile-img-size / 4;
            height: $profile-img-size / 4;
            background-color: $white;
            border-radius: 50%;
            border: none;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
            @include mq('sm') {
                bottom: -10px;
                right: -10px;
                width: $profile-img-size / 5;
                height: $profile-img-size / 5;
            }
            i {
                color: $grey-900;
                vertical-align: middle;
            }
        }
    }

    // Actual file element
    .file-upload--profile {
        display: none;
    }
}

section[data-section="control"] {
    .btn {
        width: 100%;
    }
}
