@import 'src/styles/utils/__module__';

.user-menu--basic.dropdown {
    &.show {
        .btn-secondary.dropdown-toggle {
            background-color: transparent;
        }
    }
    .dropdown-toggle {
        border: none;
        background-color: transparent;
        &:focus {
            box-shadow: none;
        }
        &::after {
            display: none;
        }
        img {
            @include circleFrame(30px);
            margin-right: 10px;
        }
        h3 {
            display: inline-block;
            font-size: 14px;
        }
    }

    .dropdown-menu.show {
        left: auto;
        right: 0;
    }
}
