@import 'src/styles/utils/__module__';

.upload-form {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    @include mq('sm') {
        width: 100%;
    }
    &::before {
        display: inline-block;
        content: '';
        height: calc(100vh - #{$global-header-height * 2});
        vertical-align: middle;
    }
    .card {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        background-color: transparent;
        box-shadow: none;
        margin-top: $global-header-height;
    }
}

section {
    margin: 0 auto;
    text-align: center;
}

section[data-section="forms"] {
    $title-margin: 20px;
    margin-bottom: $global-header-height;

    div[data-page="intro"] {
        h1 {
            font-weight: bold;
            margin-bottom: $title-margin;
        }
    }

    div[data-type="form-desc"] {
        margin-bottom: $global-header-height;
        h1 {
            margin-bottom: $title-margin;
            font-weight: lighter;
            @include mq('sm') {
                font-size: 20px;
            }
        }
        p {
            margin-bottom: 0;
            font-size: 14px;
            strong {
                font-weight: bold;
            }
            @include mq('sm') {
                font-size: 12px;
            }
        }
    }
}

section[data-section="control"] {
    margin: {
        left: auto;
        right: auto;
    }
    button.btn {
        padding: 10px 60px;
        @include mq('sm') {
            padding: 10px 30px;
        }
    }
}
